.sidebar {
    flex: 1 1 30%;
    margin: 0px 30px;
}

.image-2 {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px #cfcfcf solid  ;
    padding-bottom: 15px;
}

.title-2 {
    font-family: Bebas Neue;
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
}

.sidebar p {
    font-family: Montserrat;
    margin-bottom: 20px;
    font-size: 20px;
}