.container {
    display: flex;
    flex-direction: column;
}

.wrappermain {
    flex: 1 1 70%;
}

.newsContainer {
    margin: 0px 30px;
}

.principalArticle {
    background-color: #cfcfcf;
    padding: 10px;
    margin: 15px 0px;
}

.newsContainer p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #cfcfcf;
    font-family: Montserrat;
    font-size: 20px;
}

.title {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Bebas Neue;
    font-size: 40px;
}

.image {
    width: 100%;
    margin-bottom: 20px;
}

.wrapperadvertising {
    margin: 0px 30px 10px 30px;
}

.wrapperButton {
    display: flex;
    justify-content: center;
}

.button {
    width: 20%;
    background-color: #cfcfcf;
    padding: 15px;
    margin: 26px;
}

.subscribe {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: bold;
    color:black